/* global selectores */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

/* end of global selectors */

/* start of navbar */

.logoImage {
  width: 60px;
}

.navLinksResponsive {
  display: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navHomeLink {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: grid;
  grid-template-areas: "logo links";
  grid-template-columns: repeat(4, auto);
  place-items: center;
  position: sticky;
  top: 0px;
  text-align: center;
  width: 100%;
  background: whitesmoke;
  border-bottom: 0.1px solid black;
  z-index: 10;
}

.navBurger {
  display: none;
}

.navLogoName {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 10px;
}

.navLogoName h1 {
  margin-left: 10px;
}

.navLinksContainer li {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  list-style-type: none;
  margin: 25px;
}

.navLinksContainer a {
  color: black;
}

.playButton {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 2rem;
  text-align: center;
  text-decoration: none;
  background-color: #4ee753;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.playButton:hover {
  transform: scale(1.1);
}
/* end of navbar section */

/* main section */

.bannerContainer {
  position: relative;
  height: 70vh;
  /* width: 100vw; */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.bannerText {
  position: absolute;
  color: white;
  font-size: 3rem;
  margin: 15px;
  padding: 15px;
}

.bannerText span {
  color: rgb(72, 169, 214);
}

#bannerVideo {
  position: absolute;
  z-index: -2;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.mainContentIntro {
  margin: 15px;
  padding: 15px;
  font-size: 1.2rem;
}

.mainContentIntro h1 {
  margin-bottom: 15px;
}

.mainContentIntro p {
  margin-bottom: 15px;
  margin-top: 15px;
}
/* cards section */

.CardSection {
  display: grid;
  grid-template-areas: "card card card";
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.CardSection img {
  margin: 20px;
}

.rook img {
  width: 140px;
}

.pawn img {
  width: 70px;
}

.horse img {
  width: 80px;
}
/* end of cards section */

/* end of main section */

/* media queries */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar {
    display: grid;
    grid-template-areas: "logo logo links links";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    align-items: center;
    width: 100%;
    transition: all 0.5 ease-out;
  }

  .navLinksContainer {
    display: none;
    transition: all 0.5 ease-out;
  }

  .navLinksContainerMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 110px;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    transition: all 0.5 ease-out;
  }

  .navLinksContainerMobile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
  }

  .navLinksContainerMobile ul a {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navLogoName {
    grid-area: logo;
  }

  .bannerText {
    font-size: 1.8rem;
  }

  .CardSection {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .navBurger {
    grid-area: links links;
    display: block;
    cursor: pointer;
    font-size: 3rem;
  }

  .rook img {
    width: 100px;
  }

  .pawn img {
    width: 60px;
  }

  .horse img {
    width: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .navbar {
    display: grid;
    grid-template-areas: "logo links .";
    grid-template-columns: 0.2fr auto auto;
  }

  .navLinksContainer {
    grid-area: links;
  }

  .rook img {
    width: 80px;
  }

  .pawn img {
    width: 40px;
  }

  .horse img {
    width: 60px;
  }

  .CardSection {
    display: flex;
    flex-direction: column;
    height: 700px;
  }

  .cardsContainer {
    margin: 20px;
  }
}
